<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/showstyle.css' />
    <title>Son's Awesome Blog</title>
</head>
<body>
    <header>
        <h1 class="blog-title">Son's Awesome Blog</h1>

        <nav>
          <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Log In</a></li>
          </ul>
        </nav>
    </header>
    <section>
        <div class="title"><%= blog.title %></div>
        <div class="blog-content"><%= blog.content %></div>
        <div class="comments">Comments</div>
    </section>
    <table>
        <tbody>
        <% blog.comments.forEach((comment) => { %>
        <tr>
            <td class="comment"><%= comment.content %></td>
        </tr>
        <tr class="buttons">
            <td>
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <a class="button" href="/blogs/<%= comment._id %>/comments">Edit</a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <form id="comment-form" method="POST" action="/blogs/<%= blog._id %>/comments">       
        <label>Leave Comment:</label><br>
        <textarea name="content" cols="80" rows="10"></textarea></br>
        <input class="submit-btn" type="submit"/>
    </form>
</body>
</html>