<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Son's Awesome Blog</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Log In</a></li>
          </ul>
        </nav>
    </header>
    <section>
        <div>Title:</div>
        <div><%= blog.title %></div>
        <div>Post:</div>
        <div><%= blog.content %></div>
    </section>
    <table>
        <tbody>
        <% blog.comments.forEach((comment) => { %>
        <tr>
            <td><%= comment.content %></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>                    
                <button type="submit"><a href="/comments/<%= comment._id %>/edit">Edit</a></button>
                
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <form id="comment-form" method="POST" action="/blogs/<%= blog._id %>/comments">       
        <label>Leave Comment:</label>
        <textarea name="content"></textarea>
        <input type="submit"/>
    </form>
</body>
</html>